/* @theme minimal-code */

code {
  display: inline-block;
  font-family: "Menlo", monospace;
  font-size: 0.8em;
  letter-spacing: 0;
  margin: -0.1em 0.2em;
  padding: 0 0.25em;
  vertical-align: baseline;
}

pre {
  display: block;
  margin: 1em 0 0;
  overflow: visible;
}

pre code {
  box-sizing: border-box;
  margin: 0;
  min-width: 100%;
  padding: 0.5em;
  font-size: 0.7em;
}


/* TODO: what is this needed for?, we don't have auto-scaling enabled */
pre::part(auto-scaling) {
  max-height: calc(580px - 1em);
}

section code {
  border-radius: 8px;
  color: var(--color-background);
  background-color: var(--color-accent);
}

section pre > code {
  border: 3px solid var(--color-accent);
  border-radius: 8px;
  color: var(--color-foreground);
  background-color: unset;
}


/* syntax highlighting */
section :is(pre, marp-pre) :where(.hljs) {
  color: var(--color-prettylights-syntax-storage-modifier-import)
}

section :is(pre, marp-pre) :where(.hljs-doctag),
section :is(pre, marp-pre) :where(.hljs-keyword),
section :is(pre, marp-pre) :where(.hljs-meta .hljs-keyword),
section :is(pre, marp-pre) :where(.hljs-template-tag),
section :is(pre, marp-pre) :where(.hljs-template-variable),
section :is(pre, marp-pre) :where(.hljs-type),
section :is(pre, marp-pre) :where(.hljs-variable.language_) {
  color: var(--color-prettylights-syntax-keyword)
}

section :is(pre, marp-pre) :where(.hljs-title),
section :is(pre, marp-pre) :where(.hljs-title.class_),
section :is(pre, marp-pre) :where(.hljs-title.class_.inherited__),
section :is(pre, marp-pre) :where(.hljs-title.function_) {
  color: var(--color-prettylights-syntax-entity)
}

section :is(pre, marp-pre) :where(.hljs-attr),
section :is(pre, marp-pre) :where(.hljs-attribute),
section :is(pre, marp-pre) :where(.hljs-literal),
section :is(pre, marp-pre) :where(.hljs-meta),
section :is(pre, marp-pre) :where(.hljs-number),
section :is(pre, marp-pre) :where(.hljs-operator),
section :is(pre, marp-pre) :where(.hljs-selector-attr),
section :is(pre, marp-pre) :where(.hljs-selector-class),
section :is(pre, marp-pre) :where(.hljs-selector-id),
section :is(pre, marp-pre) :where(.hljs-variable) {
  color: var(--color-prettylights-syntax-constant)
}

section :is(pre, marp-pre) :where(.hljs-meta .hljs-string),
section :is(pre, marp-pre) :where(.hljs-regexp),
section :is(pre, marp-pre) :where(.hljs-string) {
  color: var(--color-prettylights-syntax-string)
}

section :is(pre, marp-pre) :where(.hljs-built_in),
section :is(pre, marp-pre) :where(.hljs-symbol) {
  color: var(--color-prettylights-syntax-variable)
}

section :is(pre, marp-pre) :where(.hljs-code),
section :is(pre, marp-pre) :where(.hljs-comment),
section :is(pre, marp-pre) :where(.hljs-formula) {
  color: var(--color-prettylights-syntax-comment)
}

section :is(pre, marp-pre) :where(.hljs-name),
section :is(pre, marp-pre) :where(.hljs-quote),
section :is(pre, marp-pre) :where(.hljs-selector-pseudo),
section :is(pre, marp-pre) :where(.hljs-selector-tag) {
  color: var(--color-prettylights-syntax-entity-tag)
}

section :is(pre, marp-pre) :where(.hljs-subst) {
  color: var(--color-prettylights-syntax-storage-modifier-import)
}

section :is(pre, marp-pre) :where(.hljs-section) {
  color: var(--color-prettylights-syntax-markup-heading);
  font-weight: 700
}

section :is(pre, marp-pre) :where(.hljs-bullet) {
  color: var(--color-prettylights-syntax-markup-list)
}

section :is(pre, marp-pre) :where(.hljs-emphasis) {
  color: var(--color-prettylights-syntax-markup-italic);
  font-style: italic
}

section :is(pre, marp-pre) :where(.hljs-strong) {
  color: var(--color-prettylights-syntax-markup-bold);
  font-weight: 700
}

section :is(pre, marp-pre) :where(.hljs-addition) {
  background-color: var(--color-prettylights-syntax-markup-inserted-bg);
  color: var(--color-prettylights-syntax-markup-inserted-text)
}

section :is(pre, marp-pre) :where(.hljs-deletion) {
  background-color: var(--color-prettylights-syntax-markup-deleted-bg);
  color: var(--color-prettylights-syntax-markup-deleted-text)
}
